body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.accent {
  color: #4d5ae5;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* ==================== HEADER ==================== */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out;
  position: relative;
}

.header-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;

  bottom: -1px;
  left: 0;

  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.header-nav-link:hover::after {
  opacity: 1;
}

.header-nav-link:hover {
  color: #404bbf;
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  transition: color 250ms ease-in-out;
}

.header-address-link:hover {
  color: #404bbf;
}

/* ==================== HEADER ==================== */

/* ===================== HERO ===================== */

.hero {
  background-color: #2e2f42;
  padding: 188px 0;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  width: 169px;
  padding: 16px 0;
  display: block;
  margin: auto;

  transition: background-color 250ms ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ===================== HERO ===================== */

/* =================== FEATURES =================== */

.features {
}

.features-list {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-block {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================== FEATURES =================== */

/* ===================== TEAM ===================== */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
}

.team-text {
  padding: 32px 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-soc-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms ease-in-out;
}

.team-soc-item:hover {
  background-color: #404bbf;
}

.team-soc-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/* ===================== TEAM ===================== */

/* =================== PORTFOLIO ================== */

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper-text {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio-item:hover .portfolio-wrapper-text {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================== FOOTER ==================== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-soc-sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-soc-list {
  gap: 16px;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
}
